@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,regular,500,600,700,200italic,300italic,italic,500italic,600italic,700italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 18px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
  /* margin: 0 0 0 0px; */
  border: 1px solid #fff;
  border-radius: 10px;
  background: #000;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #363838;
  padding: 0 0 22px 0;
  margin: 0 0 22px 0;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 2px;
  background: #979797;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  color: #5a5a5a;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.header__body {
  position: relative;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 50px;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__logo img {
  max-width: 100%;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.header__list li {
  margin: 0 0 0 16px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.header__link:hover {
  text-decoration: underline;
}

.block-socials {
  margin: 0 auto;
  height: 33px;
  width: 116px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-socials__item {
  cursor: pointer;
  margin: 0 3px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23px;
          flex: 0 0 23px;
  height: 23px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.block-socials__item:hover {
  background: rgba(218, 133, 168, 0.9);
}

.block-socials__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.6);
      -ms-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.footer {
  width: 100%;
  padding: 43px 0px;
  background: #000;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  height: 50px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.footer__logo img {
  max-width: 100%;
}

.footer__socials {
  margin: 12px 0 0 55%;
}

.footer__content {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px auto 0 auto;
}

.footer__column {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.column-footer {
  max-width: 280px;
  font-size: 14px;
  font-weight: 200;
  color: #ffffff;
}

.column-footer__title {
  padding: 0 50px 0 0;
}

.column-footer__adress {
  padding: 13px 0;
}

.column-footer__adress a:hover {
  font-weight: 500;
}

.column-footer__city {
  font-weight: 600;
}

.column-footer__phone {
  font-weight: 300;
  color: #ffffff;
}

.column-footer__phone span {
  display: inline-block;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.column-footer__phone span:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.column-footer__socials {
  padding: 0 15px 0 0;
}

.column-footer__socials a {
  position: relative;
}

.column-footer__socials a:nth-child(1) {
  padding: 0 7px 0 19px;
  border-right: 1px solid #ffffff;
}

.column-footer__socials a:nth-child(1)::before {
  content: url(../img/vider.png);
  position: absolute;
  top: 2px;
  left: 0;
}

.column-footer__socials a:nth-child(2) {
  padding: 0 7px 0 16px;
  border-right: 1px solid #ffffff;
}

.column-footer__socials a:nth-child(2)::before {
  content: url(../img/telegram.png);
  position: absolute;
  top: 1px;
  left: 0;
}

.column-footer__socials a:nth-child(3) {
  padding: 0 0 0 15px;
}

.column-footer__socials a:nth-child(3)::before {
  content: url(../img/whatsapp.png);
  position: absolute;
  top: 1px;
  left: 0;
}

.column-footer__socials a:hover {
  text-decoration: underline;
}

.column-footer__socials-link {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

.form {
  max-width: 100%;
  padding: 85px 0 105px 0;
  background: #f9f9f9;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(77, 75, 75, 0.9) url("../img/loading.gif") center/150px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  margin: 0 0 51px 0;
  color: #000000;
}

.form__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 20px 0 0;
  margin: 0 0 35px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.form__text-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 20px 0 0;
  margin: 0 0 35px 0;
}

.form__item-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.form__input {
  height: 36px;
  width: 100%;
  padding: 0 2px;
  border-radius: 3px;
  background: #f9f9f9;
  font-size: 18px;
  line-height: 36px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #d6c562;
          box-shadow: 0 0 15px #d6c562;
  outline: none;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px #9c2b2b;
          box-shadow: 0 0 15px #9c2b2b;
}

.form__input::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
  background: #f9f9f9;
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
  background: #f9f9f9;
}

.form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
  background: #f9f9f9;
}

.form__input::-ms-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
  background: #f9f9f9;
}

.form__input::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
  background: #f9f9f9;
}

.form__button {
  display: inline-block;
  height: 36px;
  padding: 10px 17px 6px 17px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background: #000;
  -webkit-box-shadow: 0 3px 0 #1a1919;
          box-shadow: 0 3px 0 #1a1919;
  position: relative;
  top: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form__button:hover {
  background: #462a2a;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-contacts {
  padding: 47px 0 59px 0;
}

textarea.form__input {
  font-size: 18px;
  line-height: 34px;
  padding: 0px 2px;
  resize: none;
}

.branding__top {
  background: #f6f6f6;
}

.branding__top-body {
  position: relative;
  padding: 153px 0 61px 51.5%;
}

.branding__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.branding__image img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.branding__title {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.branding__title p {
  margin: 13px 0 0 0;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
}

.branding__bottom {
  padding: 0 0 33px 0;
}

.branding__bottom-body {
  padding: 0 0 53px 51.5%;
  line-height: 20px;
}

.branding__bottom-body p {
  margin: 23px 0 0 0;
}

.compet {
  padding: 71px 0 30px 0;
  background: #f6f6f6;
}

.compet__title {
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

.compet__content {
  margin: 0 -10px;
  padding: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compet__item {
  padding: 0 10px;
  margin: 0 0 10px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compet-item__body {
  padding: 25px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.compet-item__title {
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80px;
          flex: 0 1 80px;
}

.compet-item__image {
  margin: 0 0 20px 0;
  width: 100%;
}

.compet-item__image img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.projects__title {
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  padding: 69px 0 33px 0;
}

.project {
  padding: 61px 0 0 0;
  margin: 0 0 65px 0;
  background: #f6f6f6;
  position: relative;
}

.project::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
}

.project_1::before {
  background: #7d3344;
}

.project_2::before {
  background: #809a15;
}

.project_3::before {
  background: #182c58;
}

.project__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.project__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  margin: 0 0 20px 0;
}

.project__title p {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
}

.project__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -4px 10px -4px;
  overflow: hidden;
}

.project__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -4px;
  overflow: hidden;
}

.project__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__video-subtitle {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0 0 20px 0;
}

.project__video-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  position: relative;
  padding: 0 0 42.61% 0;
}

.project__video-content iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.item-profile {
  padding: 0 4px;
  margin: 0 0 20px 0;
}

.item-profile__title {
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 18px 0;
}

.item-profile__text {
  font-size: 11px;
  line-height: 13px;
}

.item-profile_end {
  display: none;
}

.project-gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 4px;
}

.project-gallery__item_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.667%;
          flex: 0 0 66.667%;
}

.project-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.reviews__title {
  padding: 67px 0 37px 0;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  background: #eae8e8;
}

.reviews__item {
  background: #eae8e8;
  padding: 0 0 65px 0;
}

.review__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__content {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 116px 116px 46px 39px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.review__text {
  font-style: italic;
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 39px 0;
}

.review__quote {
  position: absolute;
}

.review__quote img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.review__quote_top {
  top: 20px;
  left: 39px;
}

.review__quote_bottom {
  right: 56px;
  bottom: 46px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.review__author {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.review__author-position {
  line-height: 20px;
}

.review__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 30px 20px 30px 0;
  position: relative;
  padding: 0 0 30.31% 0;
}

.review__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.process {
  padding: 102px 0 33px 0;
}

.process__title {
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  margin: 0 0 67px 0;
}

.process__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
}

.process__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 10px 17px 10px;
}

.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stage__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 10px 0;
}

.stage__title_arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19px;
          flex: 0 0 19px;
  height: 39px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.stage__title_arrow::after,
.stage__title_arrow::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 7px;
  background: #ffd523;
}

.stage__title_arrow::before {
  top: 10px;
  left: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.stage__title_arrow::after {
  top: 22.5px;
  left: -5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.stage__title_name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 7px 0 0 0;
}

.stage__title_num {
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  padding: 7px 16px 0 18px;
}

.stage__line {
  width: 100%;
  height: 1px;
  background: #000;
  margin: 0 0 18px 0;
}

.stage__text {
  font-size: 14px;
  line-height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 170px;
          flex: 0 1 170px;
}

.stage:nth-child(4) {
  position: relative;
}

.stage:nth-child(4) img {
  position: absolute;
  left: 10px;
  bottom: 38px;
  width: 124%;
  max-height: 312px;
  -o-object-fit: contain;
  object-fit: contain;
}

.gallery__title {
  font-weight: 100;
  font-size: 96px;
  line-height: 75px;
  padding: 110px 0 0 0;
  margin: 0 0 90px 0;
}

.gallery__title p {
  padding: 0 0 0 365px;
}

.gallery__body {
  max-width: 1460px;
  margin: 0 auto;
  overflow: hidden;
}

.main-slider {
  max-width: 100%;
  position: relative;
}

.swiper-container {
  overflow: hidden;
}

.slider-mini {
  overflow: hidden;
  padding: 0;
  width: 88%;
  margin: 0 auto;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__body {
  margin: 0 0 27px 0;
}

.slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  min-height: 423px;
}

.slide_mini {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

.slide__image {
  padding: 0 0 62.14% 0;
  position: relative;
}

.slide__image img {
  width: 100%;
  height: 100%;
  min-height: 423px;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.slide-mini {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

.slide-mini__image {
  padding: 0 0 62.14% 0;
  position: relative;
}

.slide-mini__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-slide-thumb-active {
  opacity: 1;
}

.preview {
  position: relative;
  width: 100%;
  margin: 0 0 110px 0;
}

.swiper-button-prev {
  position: absolute;
  left: 36px;
  bottom: 6%;
  cursor: pointer;
}

.swiper-button-next {
  position: absolute;
  right: 36px;
  bottom: 6%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.swiper-pagination {
  text-align: center;
}

.swiper-pagination-bullet {
  margin: 0 1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c4c4c4;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.slider-dots {
  display: none;
}

.form-bottom {
  display: none;
}

@media (max-width: 1380px) {
  .branding__top-body {
    padding: 42px 0 20px 45%;
  }

  .branding__image {
    width: 42%;
  }

  .branding__bottom-body {
    padding: 0 0 35px 45%;
  }
}

@media (max-width: 1360px) {
  .gallery__title {
    font-size: 70px;
    line-height: 0.8;
    margin: 0 0 75px 0;
  }
}

@media (max-width: 1350px) {
  .swiper-button-prev {
    left: 20px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }

  .swiper-button-next {
    right: 20px;
    -webkit-transform: rotate(180deg) scale(0.7);
        -ms-transform: rotate(180deg) scale(0.7);
            transform: rotate(180deg) scale(0.7);
  }
}

@media (max-width: 1260px) {
  .stage:nth-child(4) img {
    max-height: 270px;
  }
}

@media (max-width: 1250px) {
  .gallery__title p {
    padding: 0 0 0 100px;
  }
}

@media (max-width: 1240px) {
  .review__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .review__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .review__video {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 0 0 54% 0;
  }
}

@media (max-width: 1200px) {
  .branding__title {
    font-size: 20px;
    line-height: 24px;
  }

  .branding__title p {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }

  .branding__bottom-body {
    padding: 0 0 0 45%;
  }
}

@media (max-width: 1130px) {
  .compet {
    padding: 38px 0 30px 0;
  }

  .compet__title {
    font-size: 30px;
    line-height: 37px;
  }

  .compet__content {
    padding: 10px 0 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .compet__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1100px) {
  .form__body {
    display: block;
  }

  .form__text {
    width: 400px;
  }
}

@media (max-width: 1090px) {
  .footer__socials {
    margin: 12px 0 0 57%;
  }

  .footer__content {
    margin: 10px auto 0 auto;
  }
}

@media (max-width: 1070px) {
  .process__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }

  .stage:nth-child(4) {
    display: none;
  }
}

@media (max-width: 992px) {
  .branding__top {
    overflow: hidden;
  }

  .branding__top-container {
    padding: 0;
  }

  .branding__top-body {
    padding: 0;
  }

  .branding__title {
    padding: 42px 20px 20px 20px;
  }

  .branding__image {
    position: relative;
    width: 100%;
    height: 253px;
    overflow: hidden;
  }

  .branding__image img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .branding__bottom-body {
    padding: 0;
  }

  .project {
    padding: 30px 0 0 0;
    margin: 0 0 45px 0;
  }

  .project__top {
    display: block;
  }

  .project__title {
    padding: 0;
  }

  .project__title_1 p {
    color: #7d3344;
  }

  .project__title_2 p {
    color: #809a15;
  }

  .project__title_3 p {
    color: #182c58;
  }

  .project__video {
    display: block;
  }

  .gallery__title {
    font-size: 60px;
    padding: 46px 0 0 0;
    margin: 0 0 60px 0;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 900px) {
  .process__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 850px) {
  .form {
    padding: 35px 0 55px 0;
  }

  .form__title {
    margin: 0 0 23px 0;
  }

  .form__text {
    padding: 0;
    margin: 0 0 10px 0;
    max-width: 350px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .form__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .form-contacts {
    padding: 16px 0 72px 0;
  }
}

@media (max-width: 768px) {
  .footer__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__socials {
    margin: 12px 0 0 0;
  }

  .footer {
    padding: 25px 0px 22px 0px;
  }

  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .footer__content {
    max-width: 750px;
    display: block;
    margin: 0;
    padding: 30px 4px 0 4px;
  }

  .column-footer {
    max-width: 300px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 40px auto;
  }

  .column-footer__title {
    display: none;
  }

  .column-footer__adress {
    padding: 0;
  }

  .column-footer__socials {
    padding: 0;
  }

  .column-footer__socials span:nth-child(1) {
    padding: 0 5px 0 17px;
  }

  .column-footer__socials span:nth-child(1)::before {
    top: 1px;
  }

  .column-footer__socials span:nth-child(2) {
    padding: 0 5px 0 15px;
  }

  .column-footer__socials span:nth-child(2)::before {
    top: -1px;
  }

  .column-footer__socials span:nth-child(3) {
    padding: 0 0 0 14px;
  }

  .column-footer__socials span:nth-child(3)::before {
    top: -1px;
  }

  .projects__title {
    font-size: 27px;
    line-height: 33px;
    padding: 39px 0px 33px 0px;
  }

  .reviews__title {
    padding: 59px 0 25px 0;
    font-size: 27px;
    line-height: 33px;
    background: #fff;
  }

  .reviews__item {
    background: #fff;
    padding: 0 0 0px 0;
  }

  .review__content {
    padding: 81px 0px 25px 0px;
    background: #eae8e8;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .review__text {
    margin: 0 0 25px 0;
  }

  .review__quote {
    width: 57px;
    height: 49px;
  }

  .review__quote_top {
    top: 20px;
    left: 0px;
  }

  .review__quote_bottom {
    right: 0px;
    bottom: 100px;
  }

  .review__author {
    font-size: 22px;
    line-height: 27px;
    max-width: 220px;
  }

  .review__author-position {
    font-size: 20px;
    line-height: 24px;
  }

  .review__video {
    margin: 0px 0 30px 0;
    padding: 0 0 61% 0;
  }

  .gallery__title p {
    padding: 0;
  }

  .gallery__title {
    font-size: 42px;
    margin: 0 0 45px 0;
  }

  .preview {
    display: none;
  }

  .swiper-button-prev {
    left: 10px;
    bottom: -4%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }

  .swiper-button-next {
    right: 10px;
    bottom: -4%;
    -webkit-transform: rotate(180deg) scale(0.5);
        -ms-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }

  .slider-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6px;
    margin: 0 0 10px 0;
  }

  .form-bottom {
    display: block;
  }
}

@media (max-width: 730px) {
  .menu-open .header::before {
    position: fixed;
    height: 70px;
  }

  .header__menu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(133, 82, 103);
    padding: 150px 0 0 0;
    text-align: center;
    overflow: auto;
    -webkit-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
  }

  .menu-open .header__menu {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 35px 0;
  }

  .header__link {
    font-size: 28px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 700px) {
  .form {
    background: #fff;
  }

  .form__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .form__input {
    border-bottom: none;
    background: #fff;
  }

  .form__input::-moz-placeholder {
    background: #fff;
  }

  .form__input:-ms-input-placeholder {
    background: #fff;
  }

  .form__input::-webkit-input-placeholder {
    background: #fff;
  }

  .form__input::-ms-input-placeholder {
    background: #fff;
  }

  .form__input::placeholder {
    background: #fff;
  }

  .form__title {
    font-size: 27px;
    line-height: 33px;
  }

  .order__process {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .order__form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .process {
    background: #f6f6f6;
    padding: 34px 0 0 0;
  }

  .process__title {
    font-size: 27px;
    line-height: 33px;
    margin: 0 0 40px 0;
  }

  .process__content {
    display: block;
  }

  .process__item {
    width: 100%;
  }

  .stage {
    display: block;
  }

  .stage__title {
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .stage__text {
    display: none;
  }

  .stage__active .stage__text {
    display: block;
    font-size: 16px;
    line-height: 18px;
    padding: 0 10px;
  }

  .stage__active .stage__title_arrow {
    -webkit-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
            transform: rotate(-270deg);
    -webkit-transform-origin: 60% 65%;
        -ms-transform-origin: 60% 65%;
            transform-origin: 60% 65%;
  }
}

@media (max-width: 650px) {
  .compet__title {
    padding: 0 20px 0 0px;
  }

  .compet__content {
    margin: 0;
    padding: 10px 0 0 0;
  }

  .compet__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
  }

  .compet-item__body {
    position: relative;
  }

  .compet-item__body::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #000;
  }

  .compet-item__title {
    margin: 0 0 18px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .project__container {
    padding: 0;
  }

  .project__title {
    margin: 0 20px 20px 20px;
  }

  .project__profile {
    display: block;
    margin: 0 0px 10px 0px;
  }

  .profile {
    padding: 0 20px;
  }

  .project__gallery {
    display: block;
    overflow: visible;
  }

  .project__video-subtitle {
    padding: 0 0 0 20px;
    margin: 0 0 20px 0px;
  }

  .project__video-content {
    padding: 0 0 73% 0;
  }

  .item-profile {
    padding: 0;
  }

  .item-profile__title {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .item-profile__text {
    font-size: 16px;
    line-height: 20px;
  }

  .item-profile_start {
    display: none;
  }

  .item-profile_end {
    display: block;
    padding: 15px 20px 0 20px;
  }

  .project-gallery__item {
    max-width: 100%;
    padding: 5px 0;
  }
}

@media (max-width: 450px) {
  .column-footer {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 390px) {
  .gallery__title {
    font-size: 34px;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 380px) {
  .branding__title {
    font-size: 19px;
    line-height: 24px;
  }

  .branding__title p {
    font-size: 27px;
    line-height: 33px;
  }
}

@media (max-width: 370px) {
  .branding__title {
    padding: 42px 15px 20px 10px;
  }

  .form__text {
    max-width: 100%;
  }
}